<!DOCTYPE html>
<html>
<head>
    <title>Admin Settings | MU Community Garden</title>
    <link rel="stylesheet" href="css/GardenStyle.css">
	<link rel="stylesheet" href="css/w3.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="data-app" style="height:100%;">
        <div class="w3-top">
            <div class="w3-bar w3-mobile" style="background-color:#69B3E7">
                <img src="logo.png" class="w3-bar-item" style="height:65px;">
                <div style="width:80%; margin:auto; padding:10px;">
                    <b>
                    <a href="/announcements" style="font-size:20px" class="w3-bar-item w3-button">Announcements</a>
                    <a href="/forum" style="font-size:20px" class="w3-bar-item w3-button">Message Board</a>
                    <a href="/volunteer" style="font-size:20px" class="w3-bar-item w3-button">Volunteer Log</a>
                    <a href="/logout" style="font-size:20px" class="w3-bar-item w3-button w3-right">Logout</a>
                    <a href="/userpage" style="font-size:20px" class="w3-bar-item w3-button w3-right">My User</a>
                    <a v-if="user.type == 'admin'" href="/admin-page" style="font-size:20px" class="w3-bar-item w3-button w3-right w3-blue">Admin Settings</a>
                    </b>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div style="width:80%; height:100%; margin:auto; padding:20px;">
            <div class="custom-format">
                <div class="w3-row w3-mobile">
                    <div class="w3-column w3-left w3-half">
                        <div class="custom-format-container">
                            <div class="custom-format-header w3-row">
                                <h3>Users</h3>
                            </div>
                            <div class="custom-format-container">
                                <div v-for="userEntry in users" class="custom-format-container" @click="selectedUserName = userEntry.name">
                                    <h4 v-if="userEntry.type == 'admin'" class="custom-format-header" style="text-align:left;">{{userEntry.name}} - Admin</h4>
                                    <h4 v-if="userEntry.type != 'admin'" class="custom-format-header" style="text-align:left;">{{userEntry.name}}</h4>
                                    <div v-if="userEntry.name == selectedUserName" class="custom-format-container">
                                        <div class="w3-row">
                                            <div class="w3-col w3-third w3-left">
                                                <h5 class="w3-round pointer-button w3-gray w3-hover-dark-gray w3-padding" @click="toggleAdminRights(userEntry._id)" v-if="userEntry.type == 'admin' && selectedUserName != user.name">Remove Admin Privileges</h5>
                                                <h5 class="w3-round pointer-button w3-gray w3-hover-dark-gray w3-padding" @click="toggleAdminRights(userEntry._id)" v-if="userEntry.type != 'admin'">Grant Admin Privileges</h5>
                                                <h5 class="w3-round w3-gray w3-padding" v-if="selectedUserName == user.name">Cannot Remove Own Admin Privileges</h5>
                                            </div>
                                            <div class="w3-col w3-third w3-right">
                                                <h5 class="w3-round pointer-button w3-gray w3-hover-dark-gray w3-padding" @click="deleteUser(userEntry._id)" v-if="selectedUserName != user.name">Delete User</h5>
                                                <h5 class="w3-round w3-gray w3-padding" v-if="selectedUserName == user.name">Cannot Delete Own Account</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-column w3-right w3-half">
                        <div class="custom-format-container">
                            <div class="custom-format-header w3-row">
                                <h3>Volunteer Logs</h3>
                            </div>
                            <div v-if="selectedUserName == null" class="custom-format-container">
                                <h4 v-if="events.filter(event => event.type == 'volunteering').length">
                                    <div class="w3-row">
                                        <div class="w3-col w3-half w3-left">
                                            Total volunteer hours: {{ Math.round(events.filter(event => event.type == 'volunteering').reduce((total, event) => { return total += event.hours }, 0) * 10) / 10 }}
                                        </div>
                                        <div class="w3-col w3-half w3-right">
                                            <div class="w3-round pointer-button w3-gray w3-hover-dark-gray w3-padding" @click="deleteMode = !deleteMode;">Toggle Delete Mode</div>
                                        </div>
                                    </div>
                                </h4>
                                <br>
                                <div class="list">
                                    <table class="w3-table-all">
                                        <tr>
                                            <td>Activities</td>
                                            <td>Date</td>
                                            <td>Hours</td>
                                            <td>Approved by</td>
                                            <td v-if="deleteMode" >Action</td>
                                        </tr>
                                        <tr v-for="event in events.filter(event => event.type == 'volunteering')">
                                            <td style="max-width:250px;">
                                                {{ event.content }}
                                            </td>
                                            <td>
                                                {{ new Date(event.start).toLocaleDateString() }}
                                            </td>
                                            <td>
                                                {{ event.hours }}
                                            </td>
                                            <td v-if="event.approvedBy == null || event.approvedBy == undefined">
                                                <div v-if="selectedVolunteerLogID != event._id" @click="selectedVolunteerLogID = event._id" class="w3-round pointer-button w3-gray w3-hover-dark-gray w3-padding">Pending</div>
                                                <div v-if="selectedVolunteerLogID == event._id">
                                                    <div class="w3-round pointer-button w3-green w3-hover-light-green w3-padding" @click="toggleApproveVolunteerHours(event._id)">Approve</div>
                                                    <div class="w3-round pointer-button w3-red w3-hover-orange w3-padding" @click="deleteEvent(event._id)">Decline</div>
                                                </div>
                                            </td>
                                            <td v-if="event.approvedBy != null && event.approvedBy != undefined">
                                                {{ event.approvedBy.name }}
                                            </td>
                                            <td v-if="deleteMode" >
                                                <div class="w3-round pointer-button w3-red w3-hover-orange w3-padding" @click="deleteEvent(event._id)">Delete</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div v-if="selectedUserName != null" class="custom-format-container">
                                <h4 v-if="events.filter(event => event.type == 'volunteering' && event.user.name == selectedUserName).length">
                                    <div class="w3-col w3-half w3-left">
                                        {{selectedUserName}}'s volunteer hours: {{ Math.round(events.filter(event => event.type == 'volunteering' && event.user.name == selectedUserName).reduce((total, event) => { return total += event.hours }, 0) * 10) / 10 }}
                                    </div>
                                    <div class="w3-col w3-half w3-right">
                                        <div class="w3-round pointer-button w3-gray w3-hover-dark-gray w3-padding" @click="deleteMode = !deleteMode;">Toggle Delete Mode</div>
                                    </div>
                                </h4>
                                <br><br><br>
                                <div class="list" v-if="events.filter(event => event.type == 'volunteering' && event.user.name == selectedUserName).length == 0">
                                    {{selectedUserName}} has no volunteer logs.
                                </div>
                                <div class="list" v-if="events.filter(event => event.type == 'volunteering' && event.user.name == selectedUserName).length">
                                    <table class="w3-table-all">
                                        <tr>
                                            <td>Activities</td>
                                            <td>Date</td>
                                            <td>Hours</td>
                                            <td>Approved by</td>
                                            <td v-if="deleteMode" >Action</td>
                                        </tr>
                                        <tr v-for="event in events.filter(event => event.type == 'volunteering' && event.user.name == selectedUserName)">
                                            <td style="max-width:250px;">
                                                {{ event.content }}
                                            </td>
                                            <td>
                                                {{ new Date(event.start).toLocaleDateString() }}
                                            </td>
                                            <td>
                                                {{ event.hours }}
                                            </td>
                                            <td v-if="event.approvedBy == null || event.approvedBy == undefined">
                                                <div v-if="selectedVolunteerLogID != event._id" @click="selectedVolunteerLogID = event._id" class="w3-round pointer-button w3-gray w3-hover-dark-gray w3-padding">Pending</div>
                                                <div v-if="selectedVolunteerLogID == event._id">
                                                    <div class="w3-round pointer-button w3-green w3-hover-light-green w3-padding" @click="toggleApproveVolunteerHours(event._id)">Approve</div>
                                                    <div class="w3-round pointer-button w3-red w3-hover-orange w3-padding" @click="deleteEvent(event._id)">Decline</div>
                                                </div>
                                            </td>
                                            <td v-if="event.approvedBy != null && event.approvedBy != undefined">
                                                {{ event.approvedBy.name }}
                                            </td>
                                            <td v-if="deleteMode">
                                                <div class="w3-round pointer-button w3-red w3-hover-orange w3-padding" @click="deleteEvent(event._id)">Delete</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/dataApp.js"></script>
</body>
</html>