<!DOCTYPE html>
<html>
<head>
	<title>Announcements | MU Community Garden</title>
	<link rel="stylesheet" href="css/GardenStyle.css">
	<link rel="stylesheet" href="css/w3.css"> 
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div style="height:100%;">
		<div class="w3-top">
			<div class="w3-bar w3-mobile" style="background-color:#69B3E7">
				<img src="logo.png" class="w3-bar-item" style="height:65px;">
				<div style="width:80%; margin:auto; padding:10px;">
					<b>
						<a href="/announcements" style="font-size:20px" class="w3-bar-item w3-button">Announcements</a>
						<a href="/forum" style="font-size:20px" class="w3-bar-item w3-button">Message Board</a>
						<a href="/volunteer" style="font-size:20px" class="w3-bar-item w3-button">Volunteer Log</a>
						<a href="/logout" style="font-size:20px" class="w3-bar-item w3-button w3-right">Logout</a>
						<a href="/userpage" style="font-size:20px" class="w3-bar-item w3-button w3-right w3-blue">My User</a>
					</b>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div id="data-app" class="custom-format" style="width:80%; height:100%; margin:auto; padding:20px;">
			<h1 class="custom-format-header">Announcements</h1>
			<div class="w3-row w3-mobile">
				<div class="w3-column w3-left w3-half">
					<div class="custom-format-container">
						<div v-if="user.type == 'admin'" class="custom-format-header w3-row">
							<h3 class="w3-col w3-twothird w3-left">Messages From The Admins</h3>
							<a href="/make-post" class="w3-right w3-col w3-third">
								<h5 class="w3-round pointer-button w3-hover-dark-gray w3-padding" style="background-color:#69B3E7">Make Announcement</h5>
							</a>
						</div>
						<div v-if="user.type != 'admin'" class="custom-format-header">
							<h3>Messages From The Admins</h3>
						</div>
						<div class="custom-format-container">
							<div v-for="post in posts.filter(post => post.type == 'announcement')" class="custom-format-container" class="custom-format-container">
								<h4 class="custom-format-header" style="text-align:left;">{{post.title}}</h4>
								<div class="custom-format-container">
									<div class="post-info">
										Created by: {{post.user.name}} on {{  new Date(post.date).toLocaleString()  }}
									</div>
									<div class="post">
										{{post.content}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w3-column w3-right w3-half">
					<div class="custom-format-container">
						<h3 class="custom-format-header">Events Calendar</h3>
						<div class="custom-format-container">
							<div class="month">
								<ul>
									<li class="prev">&#10094;</li>
									<li class="next">&#10095;</li>
									<b><li>May<br><span style="font-size:30px">2021</span></li></b>
								</ul>
							</div>

							<ul class="weekdays">
								<b>
								<li>Sun</li>
								<li>Mon</li>
								<li>Tue</li>
								<li>Wed</li>
								<li>Thu</li>
								<li>Fri</li>
								<li>Sat</li>
								</b>
							</ul>

							<ul class="days" style="text-align: left;">
								<li><h5 class="custom-format-header">_</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">_</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">_</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">_</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">_</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">_</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">1</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">2</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">3</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">4</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">5</h5><div class="custom-format-container"><a href="#">Peppers coll...</a></div></li>
								<li><h5 class="custom-format-header">6</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">7</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">8</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">9</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header"><span class="active">10</span></h5><div class="custom-format-container">_</div>
								<li><h5 class="custom-format-header">11</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">12</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">13</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">14</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">15</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">16</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">17</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">18</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">19</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">20</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">21</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">22</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">23</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">24</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">25</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">26</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">27</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">28</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">29</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">30</h5><div class="custom-format-container">_</div></li>
								<li><h5 class="custom-format-header">31</h5><div class="custom-format-container">_</div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="scripts/dataApp.js"></script>
</body>
</html>