<!DOCTYPE html>
<html>
<head>
    <title>Login | MU Community Garden</title>
    <link rel="stylesheet" type ="text/css" href="css/GardenStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="login">
        <div id="login-app">
            <h2 class="login-header">MU Community Garden {{ mode == "login" ? "Login" : "Signup" }}</h2>
            <form class="login-container" method="POST" action="/login">
                <label>Username</label>
                <input name="name" type="text" placeholder="Username" minlength="5" required>
                <label v-if="mode != 'login'">Email</label>
                <input name="email" v-if="mode != 'login'" type="email" placeholder="Email" required>
                <label>Password</label>
                <input name="password" type="password" placeholder="Password" minlength="8" required>
                <!-- <button type="submit">Log in</button> -->
                &nbsp;
                <input type="submit" value="Log in">
                <a @click="toggleMode" href="#">Need to {{ mode == "login" ? "sign up?" : "log in?" }}</a>
            </form>
        </div>
    </div>
    <script src="scripts/loginApp.js"></script>
</body>
</html>
