<!DOCTYPE html>
<html>
	<head>
	    <title>Post | MU Community Garden</title>
	    <link rel="stylesheet" type ="text/css" href="D:\School\Fall2020\Thesis\MUCommunityGarden\public\css\GardenStyle.css">
	    <link rel="stylesheet" type ="text/css" href="D:\School\Fall2020\Thesis\MUCommunityGarden\public\css\w3.css">
	    <!-- <link rel="stylesheet" href="C:\Users\Summit\github repos\MUCommunityGarden\public\css\w3.css">
	    <link rel="stylesheet" href="C:\Users\Summit\github repos\MUCommunityGarden\public\css\GardenStyle.css"> -->
	    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
	    <!--<script src="/socket.io/socket.io.js"></script>-->
	</head>
	<body>
		<div id="cloud-container" style="height:100%;">
			<div class="w3-top">
				<div class="w3-bar w3-mobile" style="background-color:#69B3E7">
					<div style="width:60%; margin:auto; padding:20px;">
						<b>
						<a href="#" class="w3-bar-item w3-button">Announcements</a>
						<a href="#" class="w3-bar-item w3-button w3-blue">Message Board</a>
						<a href="#" class="w3-bar-item w3-button">Volunteer Log</a>
						<a href="#" class="w3-bar-item w3-button w3-right">Logout</a>
						<a href="#" class="w3-bar-item w3-button w3-right">My User</a>
						</b>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="custom-format" style="width:30%; height:100%; margin:auto; padding:20px;">
				<div class="custom-format-container">
					<!--<button class="w3-black w3-round w3-hover-dark-gray" style="margin:auto;"><<< Click here to go back to all message board posts. <<<</button>-->
					<br>
					<div class="w3-container">
						<h2 class="custom-format-header w3-center" style="text-align:left"><b>Create a new post</b></h2>
						<div class="custom-format-container">
							<hr>
							<div class="w3-container" style="text-align:left">
								<h3>Posted by: Kevin Pecci</h3>
								<h4>Posted on: May 23, 2021</h4>
								<p>
									Post title:
									<input class="w3-input w3-border w3-light-grey" type="text" style="height:50px" placeholder="Write your post title here">
								</p>
								<p>
									Post content:
									<input class="w3-input w3-border w3-light-grey" type="text" style="height:150px" placeholder="Write your post here">
								</p>
							</div>
							<button class="w3-right w3-round w3-white w3-border w3-border-blue w3-padding w3-hover-light-gray">Add an image from your device</button>
							<br><br>
							<hr>
						</div>
						<button class="w3-black w3-left w3-round w3-hover-dark-gray w3-padding">Submit your post</button>
					</div>
					<br>
				</b>
			</div>
		</div>
	</body>
</html>