<!DOCTYPE html>
<html>
<head>
	<title>Create Post | MU Community Garden</title>
	<link rel="stylesheet" href="css/GardenStyle.css">
	<link rel="stylesheet" href="css/w3.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="data-app" style="height:100%;">
		<div class="w3-top">
			<div class="w3-bar w3-mobile" style="background-color:#69B3E7">
				<img src="logo.png" class="w3-bar-item" style="height:65px;">
				<div style="width:80%; margin:auto; padding:10px;">
					<b>
						<a href="/announcements" style="font-size:20px" class="w3-bar-item w3-button">Announcements</a>
						<a href="/forum" style="font-size:20px" class="w3-bar-item w3-button w3-blue">Message Board</a>
						<a href="/volunteer" style="font-size:20px" class="w3-bar-item w3-button">Volunteer Log</a>
						<a href="/logout" style="font-size:20px" class="w3-bar-item w3-button w3-right">Logout</a>
						<a href="/userpage" style="font-size:20px" class="w3-bar-item w3-button w3-right">My User</a>
						<a v-if="user.type == 'admin'" href="/admin-page" style="font-size:20px" class="w3-bar-item w3-button w3-right">Admin Settings</a>
					</b>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div class="custom-format" style="width:30%; height:100%; margin:auto; padding:20px;">
			<div class="custom-format-container">
				<!--<button class="w3-black w3-round w3-hover-dark-gray" style="margin:auto;"><<< Click here to go back to all message board posts. <<<</button>-->
				<br>
				<div class="w3-container">
					<h2 class="custom-format-header w3-center" style="text-align:left"><b>Create a new post</b></h2>
					<div class="custom-format-container">
						<hr>
						<div class="w3-container" style="text-align:left">
							<p>Post title:</p>
							<input v-model="title" class="w3-input w3-border w3-light-grey" type="text" style="height:50px" placeholder="Write your post title here">
							<p>Tags (separated by comma):</p>
							<input v-model="tags" class="w3-input w3-border w3-light-grey" type="text" style="height:50px" placeholder="ex. 'tomatoes, watering'">
							<div v-if="user.type === 'admin'">
								<p>Make post an annoucement (sends notification to gardeners): </p>
								<input v-model="isAnnouncement" class="w3-check" type="checkbox">
							</div>
							<p>Post content:</p>
							<input v-model="content" class="w3-input w3-border w3-light-grey" type="text" style="height:150px" placeholder="Write your post here">
						</div>
						<br>
						<hr>
					</div>
					<button @click="createPost" class="pointer-button w3-black w3-left w3-round w3-hover-dark-gray w3-padding">Submit your post</button>
				</div>
				<br>
			</b>
		</div>
	</div>
	<script src="/scripts/dataApp.js"></script>
</body>
</html>