<!DOCTYPE html>
<html>
<head>
	<title>Post | MU Community Garden</title>
	<link rel="stylesheet" type ="text/css" href="D:\School\Fall2020\Thesis\MUCommunityGarden\public\css\GardenStyle.css">
	<link rel="stylesheet" type ="text/css" href="D:\School\Fall2020\Thesis\MUCommunityGarden\public\css\w3.css">
	<link rel="stylesheet" href="C:\Users\Summit\github repos\MUCommunityGarden\public\css\w3.css">
	<link rel="stylesheet" href="C:\Users\Summit\github repos\MUCommunityGarden\public\css\GardenStyle.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="cloud-container" style="height:100%;">
		<div class="w3-top">
			<div class="w3-bar w3-mobile" style="background-color:#69B3E7">
				<img src="/logo.png" class="w3-bar-item" style="height:65px;">
				<div style="width:80%; margin:auto; padding:10px;">
					<b>
						<a href="/announcements" style="font-size:20px" class="w3-bar-item w3-button">Announcements</a>
						<a href="/forum" style="font-size:20px" class="w3-bar-item w3-button">Message Board</a>
						<a href="/volunteer" style="font-size:20px" class="w3-bar-item w3-button">Volunteer Log</a>
						<a href="/logout" style="font-size:20px" class="w3-bar-item w3-button w3-right">Logout</a>
						<a href="/userpage" style="font-size:20px" class="w3-bar-item w3-button w3-right w3-blue">My User</a>
					</b>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div id="data-app" class="custom-format" style="width:60%; height:100%; margin:auto; padding:20px;">
			<div class="custom-format-container">
				<!--<button href="/forum" type="button" class="w3-black w3-round w3-hover-dark-gray" style="margin:auto;"><<< Click here to go back to all message board posts. <<<</button>-->
				<br>
				<div class="w3-container">
					<h2 class="custom-format-header" style="text-align:left"><b>{{ currentPost.title }}</b></h2>
					<div class="custom-format-container">
						<hr>
						<div class="w3-container" style="text-align:left">
							<h3>by {{ currentPost.user.name }}</h3>
							<h4>{{ currentPost.date.toLocaleString() }}</h4>
							<p>{{ currentPost.content }}</p>
						</div>
						<hr>
					</div>
				</div>
				<br>
				<div class="w3-container w3-padding">
					<h2 v-if="currentPost.comments.length" class="custom-format-header" style="text-align:left"><b>Comments</b></h2>
					<div v-if="currentPost.comments.length" class="custom-format-container">
						<hr>
						<div v-for="comment in currentPost.comments"  class="w3-container" style="text-align:left">
							<h3>by {{ comment.user.name }}</h3>
							<h4>{{ comment.date }}</h4>
							<p>{{ comment.content }}</p>
						</div>
						<hr>
					</div>
					<div class="w3-light-blue custom-format-container">
						<h2 class="custom-format-header" style="text-align:left"><b>Join the conversation</b></h2>
						<input v-model="content" class="w3-input w3-border w3-light-grey" type="text" style="height:100px" placeholder="Write your comment here">
						<br>
						<button @click="createComment" type="button" class="w3-black w3-left w3-round w3-hover-dark-gray w3-padding">Submit your comment</button>
					</form>
				</div>
			</b>
		</div>
	</div>
	<script src="/scripts/dataApp.js"></script>
</body>
</html>