<!DOCTYPE html>
<html>
<head>
	<title>Post | MU Community Garden</title>
	<link rel="stylesheet" href="/css/GardenStyle.css">
	<link rel="stylesheet" href="/css/w3.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div style="height:100%;">
		<div class="w3-top">
			<div class="w3-bar w3-mobile" style="background-color:#69B3E7">
				<img src="/logo.png" class="w3-bar-item" style="height:65px;">
				<div style="width:80%; margin:auto; padding:10px;">
					<b>
						<a href="/announcements" style="font-size:20px" class="w3-bar-item w3-button">Announcements</a>
						<a href="/forum" style="font-size:20px" class="w3-bar-item w3-button">Message Board</a>
						<a href="/volunteer" style="font-size:20px" class="w3-bar-item w3-button">Volunteer Log</a>
						<a href="/logout" style="font-size:20px" class="w3-bar-item w3-button w3-right">Logout</a>
						<a href="/userpage" style="font-size:20px" class="w3-bar-item w3-button w3-right w3-blue">My User</a>
					</b>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<div id="data-app" class="custom-format" style="width:60%; height:100%; margin:auto; padding:20px;">
			<div class="custom-format-container">
				<!--<button href="/forum" type="button" class="w3-black w3-round w3-hover-dark-gray" style="margin:auto;"><<< Click here to go back to all message board posts. <<<</button>-->
				<br>
				<div class="w3-container">
					<h2 class="custom-format-header" style="text-align:left"><b>{{ currentPost.title }}</b></h2>
					<div class="custom-format-container">
						<hr>
						<div class="w3-container" style="text-align:left">
							<h3>by {{ currentPost.user.name }}</h3>
							<h4>{{ new Date(currentPost.date).toLocaleString() }}</h4>
							<p>{{ currentPost.content }}</p>
							<div class="w3-row">
								<h4 @click="likePostFromPostPage()" class="w3-light-blue w3-round w3-hover-white pointer-button w3-padding w3-left w3-col" style="width:15%; min-width:200px;" >❤️{{ currentPost.likedBy.length }} - Like</h4>
							</div>
							<button v-if="user.name == currentPost.user.name || user.type == 'admin'" @click="deletePostFromPostPage(currentPost._id)" class="w3-black w3-left w3-round pointer-button w3-hover-dark-gray w3-padding">Delete Post</button>
						</div>
						<hr>
					</div>
				</div>
				<br>
				<div class="w3-container w3-padding">
					<h2 v-if="currentPost.comments.length" class="custom-format-header" style="text-align:left"><b>Comments</b></h2>
					<div v-if="currentPost.comments.length" class="custom-format-container">
						<hr>
						<div v-for="comment in currentPost.comments"  class="w3-container" style="text-align:left">
							<h3>by {{ comment.user.name }}</h3>
							<h4>{{ new Date(comment.date).toLocaleString() }}</h4>
							<p>{{ comment.content }}</p>
							<button v-if="user.name == comment.user.name || user.type == 'admin'" @click="deleteCommentFromPostPage(comment._id)" class="w3-black w3-left w3-round pointer-button w3-hover-dark-gray w3-padding">Delete Comment</button>
						</div>
						<hr>
					</div>
					<div class="custom-format-container" style="background-color:#69B3E7">
						<div class="custom-format-header w3-row">
							<h2 class="w3-col w3-twothird w3-left"><b>Join the conversation</b></h2>
							<div @click="createComment" class="w3-right w3-col w3-third">
								<h4 class="w3-round pointer-button w3-hover-dark-gray w3-padding" style="background-color:#69B3E7">Submit Comment</h4>
							</div>
						</div>
						<br>
						<input v-model="content" class="w3-input w3-border w3-light-grey" type="text" style="height:100px" placeholder="Write your comment here">
						<br>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script src="/scripts/dataApp.js"></script>
</body>
</html>