<!DOCTYPE html>
<html>
	<head>
	    <title>Post | MU Community Garden</title>
	    <!--<link rel="stylesheet" type ="text/css" href="D:\School\Fall2020\Thesis\MUCommunityGarden\public\css\GardenStyle.css">-->
	    <!--<link rel="stylesheet" type ="text/css" href="D:\School\Fall2020\Thesis\MUCommunityGarden\public\css\w3.css">-->
	    <link rel="stylesheet" href="C:\Users\Summit\github repos\MUCommunityGarden\public\css\w3.css">
	    <link rel="stylesheet" href="C:\Users\Summit\github repos\MUCommunityGarden\public\css\GardenStyle.css">
	    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
	    <!--<script src="/socket.io/socket.io.js"></script>-->
	</head>
	<body>
		<div id="cloud-container" style="height:100%;">
			<div class="w3-top">
				<div class="w3-bar w3-mobile" style="background-color:#69B3E7">
					<div style="width:60%; margin:auto; padding:20px;">
						<b>
						<a href="#" class="w3-bar-item w3-button">Announcements</a>
						<a href="#" class="w3-bar-item w3-button w3-blue">Message Board</a>
						<a href="#" class="w3-bar-item w3-button">Volunteer Log</a>
						<a href="#" class="w3-bar-item w3-button w3-right">Logout</a>
						<a href="#" class="w3-bar-item w3-button w3-right">My User</a>
						</b>
					</div>
				</div>
			</div>
			<br>
			<br>
			<div class="custom-format" style="width:60%; height:100%; margin:auto; padding:20px;">
				<div class="custom-format-container">
					<!--<button class="w3-black w3-round w3-hover-dark-gray" style="margin:auto;"><<< Click here to go back to all message board posts. <<<</button>-->
					<br>
					<div class="w3-container">
						<h2 class="custom-format-header" style="text-align:left"><b>Tomato Pests, Please Help Me!</b></h2>
						<div class="custom-format-container">
							<hr>
							<div class="w3-container" style="text-align:left">
								<h3>by Kevin Pecci</h3>
								<h4>May 23, 2021</h4>
								<p>
									Recently I've noticed my tomato plants in plot 5 have been getting eaten alive by aphids! Does anyone know a good way to keep these bothersome bugs off my precious plants?
								</p>
								<img src="https://www.purdue.edu/uns/images/2017/aphid-leaf.jpg" class="w3-padding" style="width:200px">
							</div>
							<hr>
						</div>
					</div>
					<br>
					<div class="w3-container w3-padding">
						<h2 class="custom-format-header" style="text-align:left"><b>Comments</b></h2>
						<div class="custom-format-container">
							<hr>
							<div class="w3-container" style="text-align:left">
								<h3>by Noah Rottler-Gurley</h3>
								<h4>May 24, 2021</h4>
								<p>
									Ah, I saw those last year. I used <a href="#">this</a> product from the local store. It got rid of them right away! I hope the same works for you.
								</p>
							</div>
							<hr>
							<div class="w3-container" style="text-align:left">
								<h3>by Bradley Aiken</h3>
								<h4>May 24, 2021</h4>
								<p>
									I hate aphids!!! >:(
								</p>
							</div>
							<hr>
						</div>
						<div class="w3-light-blue custom-format-container">
							<h2 class="custom-format-header" style="text-align:left"><b>Join the conversation</b></h2>
							<input class="w3-input w3-border w3-light-grey" type="text" style="height:100px" placeholder="Write your comment here">
							<br>
							<button class="w3-black w3-left w3-round w3-hover-dark-gray w3-padding">Submit your comment</button>
						</form>
					</div>
				</b>
			</div>
		</div>
	</body>
</html>