<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type ="text/css" href="css/GardenStyle.css">
    <title>MU Community Garden Userpage</title>
</head>
<body>
        <div class="user">
            <h1 class="user-header">Welcome, {{Username}}!</h1> <!--Need to ask how logic works to actually pull stuff-->
            <h3 class="login-header">Tasks</h3>
            <div class="list">
                Test<!--These will be replaced with componenets from vue-->
                <br><br><br><br><br><br><br><br><br><br><br>
                qw
            </div>
            <h3 class="login-header">Events</h3>
            <div class="list">
                Test
                <br><br><br><br><br><br><br><br><br><br><br>
                qw
            </div>
            <h3 class="login-header">Gardens</h3>
            <div class="list">
                Test
                <br><br><br><br><br><br><br><br><br><br><br>
                qw
            
            </div>
            <a href="/logout"><button type="button">LOGOUT</button></a>
        </div>
</body>
</html>