<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" type ="text/css" href="css/GardenStyle.css">
    <title>MU Community Garden Userpage</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="data-app" class="user">
        <h1 class="user-header w3-container w3-margin">Welcome, {{user.name}}</h1> <!--Need to ask how logic works to actually pull stuff-->
        <h3 class="login-header">Tasks</h3>
        <div class="list">
            <table class="w3-table-all">
                <tr>
                    <td v-for="task in tasks" :key="task.title">
                        {{ task.title }}
                    </td>
                    <td v-for="task in tasks" :key="task.completedDate">
                        {{ task.completedDate }}
                    </td>
                    <td v-for="task in tasks" :key="task.garden">
                        {{ task.garden }}
                    </td>
                </tr>
            </table>
        </div>
        <h3 class="login-header">Events</h3>
        <div class="list">
            <table class="w3-table-all">
                <tr>
                    <td v-for="event in events" :key="event.title">
                        {{ event.title }}
                    </td>
                    <td v-for="event in events" :key="event.start">
                        {{ event.start }}
                    </td>
                    <td v-for="event in events" :key="event.end">
                        {{ event.end }}
                    </td>
                </tr>
            </table>
        </div>
        <h3 class="login-header">Gardens</h3>
        <div class="list">
            <table class="w3-table-all">
                <tr>
                    <td v-for="garden in gardens" :key="garden.plot">
                        {{ garden.plot }}
                    </td>
                    <td v-for="garden in gardens" :key="garden.user">
                        {{ garden.user }}
                    </td>
                </tr>
            </table>        
        </div>
        <div class ="logout">
            <a href="/logout"><button class ="w3-button w3-indigo w3-cell " type="button">LOGOUT</button></a>
        </div>
    </div>
    <script src="scripts/dataApp.js"></script>
</body>
</html>