<!DOCTYPE html>
<html>
<head>
    <title>My User | MU Community Garden</title>
    <link rel="stylesheet" href="css/GardenStyle.css">
	<link rel="stylesheet" href="css/w3.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div style="height:100%;">
        <div class="w3-top">
            <div class="w3-bar w3-mobile" style="background-color:#69B3E7">
                <img src="logo.png" class="w3-bar-item" style="height:65px;">
                <div style="width:80%; margin:auto; padding:10px;">
                    <b>
                    <a href="/announcements" style="font-size:20px" class="w3-bar-item w3-button">Announcements</a>
                    <a href="/forum" style="font-size:20px" class="w3-bar-item w3-button">Message Board</a>
                    <a href="/volunteer" style="font-size:20px" class="w3-bar-item w3-button">Volunteer Log</a>
                    <a href="/logout" style="font-size:20px" class="w3-bar-item w3-button w3-right">Logout</a>
                    <a href="/userpage" style="font-size:20px" class="w3-bar-item w3-button w3-right w3-blue">My User</a>
                    </b>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div style="width:60%; height:100%; margin:auto; padding:20px;">
            <div id="data-app" class="custom-format">
                <div class="custom-format-container">
                    <h1 class="user-header w3-container w3-margin">Welcome, {{user.name}}</h1>
                    <div class="custom-format-container">
                        <h3 class="custom-format-header">Voulenteer Log</h3>
                        <div class="custom-format-container">
                            <div class="list">
                                <table class="w3-table-all">
                                    <tr>
                                        <td>Title</td>
                                        <td>Start Date</td>
                                        <td>End Date</td>
                                    </tr>
                                    <tr v-for="event in events" :key="event.start">
                                        <td>
                                            {{ event.title }}
                                        </td>
                                        <td>
                                            {{ new Date(event.start).toLocaleString() }}
                                        </td>
                                        <td>
                                            {{ new Date(event.end).toLocaleString() }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <h3 class="custom-format-header">Your Garden Plots</h3>
                        <div class="custom-format-container">
                            <div class="list">
                                <table class="w3-table-all">
                                    <tr>
                                        <td v-for="garden in gardens" :key="garden.plot">
                                            {{ garden.plot }}
                                        </td>
                                        <td v-for="garden in gardens" :key="garden.user">
                                            {{ garden.user }}
                                        </td>
                                    </tr>
                                </table>        
                            </div>
                        </div>
                        <h3 class="custom-format-header">Current Volunteer Tasks</h3>
                        <div class="custom-format-container">
                            <div class="list">
                                <table class="w3-table-all">
                                    <tr>
                                        <td>Title</td>
                                        <td>Start Date</td>
                                        <td>End Date</td>
                                    </tr>
                                    <tr>
                                        <td v-for="task in tasks" :key="task.title"> this should be moved to the row to iterate better
                                            {{ task.title }}
                                        </td>
                                        <td v-for="task in tasks" :key="task.completedDate">
                                            {{  new Date(task.completedDate).toLocaleString() }}
                                        </td>
                                        <td v-for="task in tasks" :key="task.garden">
                                            {{ task.garden }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/dataApp.js"></script>
</body>
</html>