<!DOCTYPE html>
<html>
<head>
    <title>Volunteer Log | MU Community Garden</title>
    <link rel="stylesheet" href="css/GardenStyle.css">
	<link rel="stylesheet" href="css/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div style="height:100%;">
        <div class="w3-top">
            <div class="w3-bar w3-mobile" style="background-color:#69B3E7">
                <img src="logo.png" class="w3-bar-item" style="height:65px;">
                <div style="width:80%; margin:auto; padding:10px;">
                    <b>
                        <a href="/announcements" style="font-size:20px" class="w3-bar-item w3-button">Announcements</a>
                        <a href="/forum" style="font-size:20px" class="w3-bar-item w3-button">Message Board</a>
                        <a href="/volunteer" style="font-size:20px" class="w3-bar-item w3-button">Volunteer Log</a>
                        <a href="/logout" style="font-size:20px" class="w3-bar-item w3-button w3-right">Logout</a>
                        <a href="/userpage" style="font-size:20px" class="w3-bar-item w3-button w3-right w3-blue">My User</a>
                    </b>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div style="width:30%; height:100%; margin:auto; padding:20px;">
            <div class="login">
                <div id="data-app">
                    <h2 class="login-header">Volunteer Log</h2>
                    <form class="login-container" method="POST" action="/login">
                        <!-- <label>Username</label>
                        <input name="name" type="text" placeholder="Your Name" minlength="5" required>
                        <label>Plot Number</label>
                        <input name="plot" type="number" placeholder="0" required>-->
                        <div class="custom-format-container">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <label>Date</label>
                                        <input v-model="date" type="date" required>
                                    </td>
                                    <td>
                                        <label>Hours</label>
                                        <input v-model="hours" type="number" step="0.1" min="0" max="24" placeholder="Hours volunteered">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="custom-format-container">
                            <p>Volunteer activities</p>
                            <textarea v-model="content" placeholder="Describe your volunteer activities." style="height:100px"></textarea>
                            <!-- <button type="submit">Log in</button> -->
                            <br><br>
                            <button @click="logVolunteerHours" type="button">Submit Volunteer Log</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/dataApp.js"></script>
</body>
</html>
