/* Pulled from https://codepen.io/miroot/pen/qwIgC */

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  min-height:100%;
  position:relative;
}

body {
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  height:100%;
}

.login {
  /* width: 400px; */
  margin: 16px auto;
  font-size: 20px;
  text-align: center;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #004C97;
  padding: 20px;
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.user-header {
  background: #004C97;
  font-size: 2.2em;
  /* width: 775px; */
  font-weight: normal;
  text-align: center;
  color: #fff;
  border-color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-header {
  background: #004C97;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: justify;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #004C97;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #69B3E7;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #69B3E7;
}

/*.list {
  margin: auto;
  padding:4px;
  background-color: #69B3E7;
  height: 160px;
  overflow: auto;
  text-align:justify;
}*/

.post {
  margin: auto;
  padding:20px;
  background-color: #fff;
  height: 200px;
  overflow: auto;
  text-align:justify;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.post-info {
  margin: auto;
  padding:10px;
  background-color: #69B3E7;
  height: 40px;
  text-align:justify;
  font-size: 1.2em;
}

.logout {
  margin: 1px;
  padding:4px;
  background-color: #69B3E7;
  height: 65px;
  text-align:right;
  font-size: 1.4em;
}

.viewbutton {
  margin: auto;
  padding:4px;
  background-color: #69B3E7;
  height: 65px;
  text-align:right;
  font-size: 1.4em;
}

.user {
  margin-right: auto;
  margin-left: auto;
  padding:1px;
  font-size: 20px;
  background: #96c5e8;
  /* width: 800px; */
}

.custom-format
{
  margin: 16px auto;
  text-align: center;
  min-width: 500px;
  word-wrap: break-word;
}

.custom-format-header,
.custom-format p
{
  margin-top: 0;
  margin-bottom: 0;
}

.custom-format-header
{
  background: #004C97;
  padding: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.custom-format-container
{
  background: #ebebeb;
  padding: 12px;
}

.custom-format input
{
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
}

.custom-format input[type="email"],
.custom-format input[type="password"]
{
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.custom-format input[type="email"]:focus,
.custom-format input[type="password"]:focus
{
  border-color: #888;
}

.custom-format input[type="submit"]
{
  background: #004C97;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.custom-format input[type="submit"]:hover
{
  background: #69B3E7;
}

.custom-format input[type="submit"]:focus
{
  border-color: #69B3E7;
}

.custom-format hr
{
  height: 3px;
  background-color: #000;
  border: none;
}

.custom-format h1
{
	font-size: 35px;
}
.custom-format h2
{
	font-size: 30px;
  font-weight: bold;
}
.custom-format h3
{
	font-size: 25px;
  font-weight: bold;
}
.custom-format h4
{
	font-size: 20px;
  font-weight: bold;
}
.custom-format h5
{
	font-size: 15px;
  font-weight: bold;
}
.custom-format h6
{
	font-size: 10px;
  font-weight: bold;
}
.custom-format p
{
	font-size: 18px;
	padding: 12px;
}

ul
{
  list-style-type: none;
}

.month
{
  padding: 30px 15px;
  width: 100%;
  background: #69B3E7;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li
{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 50px;
}

.month .prev
{
  float: left;
  padding-top: 10px;
}

.month .next
{
  float: right;
  padding-top: 10px;
}

.weekdays
{
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li
{
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days
{
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li
{
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 50px;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  border: 1px solid black;
}

.days li .active
{
  padding: 5px;
  background: #69B3E7;
  color: white !important
}

.days li h5
{
  padding: 0px;
}

.days li div
{
  padding: 0px;
}

.pointer-button
{
  cursor:pointer;
}